@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@500&family=Reem+Kufi+Ink&display=swap");

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.main-section {
  width: 100%;
  padding: 4% 0px;
}
.nav-bar {
  z-index: 300;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 30px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-left: 10px;
}
.logo {
  display: flex;
  align-items: center;
}
.nav-links {
  width: 60%;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.nav-list > li > a {
  font-family: "Montserrat", sans-serif;
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.sign-up-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: 1px solid black;
  padding: 20px 40px;
  background-color: #fff;
  cursor: pointer;
}
#Home {
  color: #ff5100;
}
.main {
  margin-top: 100px;
  display: flex;
}
.main-text {
  padding: 30px 150px;
  width: 50%;
}
.main-text > h1 {
  font-family: "Reem Kufi Ink", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 47px;
}
.main-text > h4 {
  margin-top: -20px;
  font-family: "Montserrat", sans-serif;
  padding-left: 7px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  color: rgb(38, 38, 38);
  border-left: #5f5f5f 2px solid;
}
.main-img {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.combined-img {
  top: 10%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
.combined-img > img {
  position: absolute;
}
.overlap-man {
  mask: url(./main-image-bg.png) bottom / cover no-repeat;
  scale: 1.66;
}
.overlap-pattern {
  transform: translateY(-20px);
}
.main-buttons-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.main-buttons-container > button {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
}

.get-started-btn {
  border: none;
  background: #ff5100;
  color: white;
}
.learn-more-btn {
  border: 1px solid black;
  background: #fff;
}
.floating-vectors {
  position: absolute;
}
#circle {
  top: 65%;
  right: 3%;
}
#curve-arrow {
  top: 60%;
  left: 35%;
}
#green-arrow {
  top: 75%;
  right: 38%;
}
#orange-arrow {
  top: 20%;
  right: 35%;
}
.footer-section {
  color: white;
  padding: 2% 0%;
  margin-top: 70px;
  background: #262543;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-us > h2 {
  font-family: "Reem Kufi Ink", sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  margin-top: -10px;
}
.footer-section h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-top: -12px;
  color: #b3b3b3;
}
.card > h3 {
  font-family: "Reem Kufi Ink", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}
.card > img {
  padding: 7px;
  border-radius: 10px;
}
.teacher {
  background: cyan;
}
.courses {
  background: #ff5100;
}
.support {
  background: darkslateblue;
}
.menu-icon {
  display: none;
}
.user-profile {
  display: none;
}
@media screen and (max-width: 1100px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu-icon {
    display: inline-block;
    margin-left: 5%;
  }
  .nav-bar {
    position: fixed;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    align-items: center;
  }
  .nav-list {
    display: none;
  }
  .sign-up-btn {
    display: none;
  }
  .logo {
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 0 20%;
  }
  .logo-img {
    display: flex;
    align-items: start;
    width: 30%;
    transform: scale(0.5);
  }
  .logo-text {
    text-align: end;
    width: 100%;
    margin: 0;
    font-size: 15px;
  }
  .user-profile {
    margin-right: 5%;
    display: inline-block;
  }
  .footer-section * {
    margin-top: 8%;
  }

  .main-section {
    flex-direction: column;
    padding-top: 0px;
  }
  .main-text > h1 {
    position: relative;
    font-size: 30px;
  }
  .main-text > h4 {
    position: relative;
    margin-top: 4%;
    font-size: 15px;
  }
  .main-text {
    width: 100%;
    justify-content: start;
    padding: 0;
  }
  .main {
    flex-direction: column;
    margin-top: 20%;
    padding-left: 20px;
    width: 100%;
    justify-content: start;
  }
  .main-buttons-container {
    position: absolute;
    padding: 0;
    margin: 110% 0% 0% -1%;
    width: 90%;
    justify-content: space-between;
  }
  .combined-img {
    transform: scale(0.6);
    left: 50%;
    position: absolute;
    top: 52%;
    padding: 0;
  }
  #orange-arrow {
    transform: scale(0.5);
    top: 33%;
    left: 10%;
  }
  #green-arrow {
    transform: scale(0.5);
    top: 70%;
    left: 10%;
  }
  #circle {
    transform: scale(0.5);
    top: 65%;
    right: 10%;
  }
  #curve-arrow {
    display: none;
    transform: scale(0.5);
    left: 60%;
    top: 80%;
  }
  .footer-section {
    margin-top: 140%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-height: 700px) {
  .combined-img {
    top: 62%;
  }
  #green-arrow {
    top: 80%;
  }
  #orange-arrow {
    top: 40%;
  }
  #circle {
    top: 75%;
  }
  .main-buttons-container {
    margin: 100% 0% 0% -1%;
  }
}
